<h1>公立大生が選ぶ！USJオススメエリア５選</h1>



<% if false %>エリア紹介のカード部分<% end %>

<div class="row">
    <div class="col-md-2">
        <div class="card"%>
            <%= link_to nintendo_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">スーパー・ニンテンドー・ワールド™</h4>
                <h5 class="card-content">recommend by A</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to newyork_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">ニューヨーク・エリア</h4>
                <h5 class="card-content">recommend by B</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to jurassic_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">ジュラシック・パーク</h4>
                <h5 class="card-content">recommend by C</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to hollywood_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">ハリウッド・エリア</h4>
                <h5 class="card-content">recommend by D</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to harrypotter_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">ウィザーディング・ワールド・オブ・ハリー・ポッター™</h4>
                <h5 class="card-content">recommend by E</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to "https://www.usj.co.jp/web/ja/jp/areas", class: "card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">全てのエリアを見る</h4>
                <h5 class="card-content">公式HPに遷移します</h5>
            <% end %>
        </div>
    </div>

</div>

<% if false %>USJについて少し紹介する<% end %>

<div class="row">
    <div class="col-md-2">
        Twitter埋め込み
    </div>

    <div class="col-md-2">
        Insta埋め込み(できれば)
    </div>

    <div class="col-md-4">
        地図埋め込み
    </div>

    <div class="col-md-4">
        基本情報
    </div>