<h1>公立大生が選ぶ！USJオススメエリア５選</h1>



<% if false %>エリア紹介のカード部分<% end %>

<div class="row">
    <div class="col-md-2">
        <div class="card"%>
            <%= link_to nintendo_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">スーパー・ニンテンドー・ワールド™</h4>
                <h5 class="card-content">recommend by A</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to newyork_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">ニューヨーク・エリア</h4>
                <h5 class="card-content">recommend by B</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to jurassic_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">ジュラシック・パーク</h4>
                <h5 class="card-content">recommend by C</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to hollywood_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">ハリウッド・エリア</h4>
                <h5 class="card-content">recommend by D</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to harrypotter_path, class:"card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">ウィザーディング・ワールド・オブ・ハリー・ポッター™</h4>
                <h5 class="card-content">recommend by E</h5>
            <% end %>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card"%>
            <%= link_to "https://www.usj.co.jp/web/ja/jp/areas", class: "card-body text-center text-reset text-decoration-none" do %>
                <%= image_tag 'top/nurie.png', class: 'card-img-top' %>
                <h4 class="card-title">全てのエリアを見る</h4>
                <h5 class="card-content">公式HPに遷移します</h5>
            <% end %>
        </div>
    </div>

</div>

<% if false %>USJについて少し紹介する<% end %>

<div class="row">
    <div class="col-md-2">
        <a class="twitter-timeline" data-lang="ja" data-height="400" href="https://twitter.com/USJ_Official?ref_src=twsrc%5Etfw">Tweets by USJ_Official</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-md-2">
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CnQk-X4PyQB/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:100% !important; min-width:initial !important; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"></blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
    </div>

    <div class="col-md-4">
        地図埋め込み
    </div>

    <div class="col-md-4">
        基本情報
    </div>